body{
    margin:0;
    font-weight: 200;
}
*{
    box-sizing: inherit;
}
.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

p{
    margin: 0;
}
.panels{
    min-height:100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    font-size: 2em;
    background-color: purple;
}
.panel{
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    flex: 1;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 
                font-size 0.7s cubic-bezier(0.19, 2.01, 1, 1.01),
                background 0.7s,
                flex 0.7s cubic-bezier(0.01, 1.21, 1, 1.02);


}
.panel > *{
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    transition: transform 0.7s;
}
.panel p:nth-child(2){
    font-size: 2em;
}
.panel > *:first-child{
    transform: translateY(-100%);
}
.panel.open-active > *:first-child{
    transform: translateY(0);
}
.panel > *:last-child{
    transform: translateY(100%);
}
.panel.open-active > *:last-child{
    transform: translateY(0);
}

.panel.open{
    font-size: 1.5em;
    flex: 3;       /* It means it will take five times more space then other panels. */
}
